@import url('https://fonts.cdnfonts.com/css/azonix');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #353335;
}

* {
  font-family: "Azonix", sans-serif;
}